*
{
    margin: 0;
    padding: 0;
}
.primary-color{
    color:#E55473; 

}
.primary-button{
    padding: 22px 35px;
    border:0;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}
.primary-bg{
    
    background-color:#E55473 ;
}

/* NAV CONTAINER STYLE  */
.nav-container{
    display: flex;
    justify-content:space-around;
    background-color: rgba(223, 211, 211, 0.05);
    padding: 20px;
    align-items: center;
}
.logo{

font-size: 50px;
}
.nav-list{
    display: flex;
    list-style: none;
    justify-content:space-around;
    padding-right: 20px;
}
.nav-lists{
    padding-right: 40px;
    font-size: 30px;
    font-weight: bold;
}
.nav-lists:hover
{
    color:#E55473;
}
 
/* BANNER STYLE  */

.banner-container{
    display: flex;

    width:100%;
    height: 850px;
   background-color: rgba(229, 84, 115, 0.10);
   align-items: center;
   
}
.banner-text{
    padding-left: 240px;
}
.banner-tittle{
color: #272727;
font-size: 80px;
font-weight: 800;


}
.banner-img{
    margin-top: 55px;
    margin-right: 30px;
}
.banner-descrive{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
width: 70%;
padding-top: 20px;
padding-bottom: 20px;
}

/* feature section style  */

.feature-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
padding-top: 200px;
padding-bottom: 20px;

}
.feature-para{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
width:40%;
margin: auto;
padding-bottom: 40px;
}
.feature-box{

    display: flex;
    gap:20px;
    padding-left: 200px;
    align-items: center;
  
}
.box-img3{
    margin-top: 67px;
    margin-left: 70px;
}
.box-img2{
    margin-top: 100px;
    margin-left: 70px;
}
.box-img1{
    margin-top: 110px;
    margin-left: 70px;}

.feature-boxs1{

width: 464px;
height: 538px; 
border-radius: 300px 300px 0px 0px;
background-color:rgba(167, 33, 98, 0.15);
padding-left: 20px;

 
}
.feature-boxs2{

    width: 464px;
    height: 538px; 
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
   
    }
    .feature-boxs3{

        width: 464px;
        height: 538px; 
        border-radius: 300px 300px 0px 0px;
        background: rgba(71, 125, 17, 0.15);
        }
.img-title{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
}
.img-title2{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
    padding-top: 68px;
}

/* HOT DEAL SECTION  */

.hot-deal-container
{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
   height: 620px;
    border-radius: 8px;
   background: rgba(229, 84, 115, 0.05);
   margin-top: 100px;
}
.hot-deal-text{
    padding-left: 400px;
}
.hot-deal-img{
    padding-right: 429px;
}





}